<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light bg-dark">
     
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <ul class="navbar-nav text-center">
        <li class="nav-item" style="padding-left: 20px;"><a href="#">Home</a></li>
        <li class="nav-item" style="padding-left: 20px;"><a href="registration">NewUser</a></li>
        <li class="nav-item" style="padding-left: 20px;"><a href="about.html" >About</a></li>
        <div class="container">
          <li><a type="button" style="float: left;" href='login' class="btn btn-primary">Login</a></li>
        </div>
      </ul>
    </nav>
  </div>

  <div class="container">

        <div class="btn-group-vertical btn-lg">
            <button type="button" class="btn btn-dark btn-lg "><a routerLink="import.html">Import Data</a></button>
            <button type="button" class="btn btn-dark btn-lg  "><a routerLink="about.html">Manage Company Details</a></button>
            <button type="button" class="btn btn-dark btn-lg"><a routerLink="about.html">Manage Exchange Details</a></button>
            <button type="button" class="btn btn-dark btn-lg"><a routerLink="about.html">Update IPO Details</a></button>

        </div>
  
</div>




  <footer class="fixed-footer">
    <div class="footer-copyright text-center py-3 bg-dark text-white mb-3">© 2020 Copyright:
      Jagadam
    </div></footer>
