<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-light bg-dark">
   
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <ul class="navbar-nav text-center">
      <li class="nav-item"><a href="#">Home</a></li>
      <li class="nav-item text-center"><a href="userform">NewUser</a></li>
      <li class="nav-item"><a href="about.html" >About</a></li>
      <li class="nav-item"><a routerLink="adduser">Add User</a> </li>
      <div class="container">
        <li><a type="button" style="float: left;" href='login' class="btn btn-primary">Login</a></li>
      </div>
    </ul>
  </nav>
</div>


<!-- <div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light bg-dark">
      -->
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <!-- <ul class="navbar-nav text-center">
        <li class="nav-item"><a href="#">Home</a></li>
        <li class="nav-item text-center"><a href="userform">New User</a></li>
        <li class="nav-item"><a href="about.html" target="_blank">About</a></li>
        <div class="container">
          <li><a type="button" style="float: left;" href='login' class="btn btn-primary">Login</a></li>
        </div>
      </ul>
    </nav>
  </div>
  <br><br><br> -->

<!-- <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form >
          <div class="form-group">
            <div class="card shadow">
                <p class="h4 card-header text-center" style="grid-row-end:span ;" style="font-variant-numeric: inherit;">LOGIN</p>
            
            <div class="input-group mt-3 mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Username</span>
                </div>
                <input type="text" name="username" class="form-control" />
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Password</span>
                </div>
                
                <input type="password" name="password" class="form-control" />
            </div>
          
            <div class="form-check">
                <label class="form-check-label" for="check1">
                <input type="checkbox" class="form-check-input" id="check1" name="remember">Remember me
                </label>
            </div>
         
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-info ">Login</button>
                <button type="reset" class="btn btn-info ml-4 ">Reset</button></div>
            </div>
        </div>
        </form>
      </div>
    </div>
  </div>
  <footer class="page-footer font-small blue" style="padding-top: 10%;">
    <div class="footer-copyright text-center py-3 bg-dark text-white mb-3">© 2020 Copyright:
      Jagadam
    </div></footer> -->

<br><br>
<br>

    <table border="2" style="padding-top: 20%;">
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>PHONE</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor = "let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td><button class="btn btn-danger"(click)="deleteUser(user)">Delete</button></td>
      </tr>
    </table>